/*Styling for the contact section*/
section#contact {
  padding: 0 0 50px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $theme-primary;
    font-size: 30px;
    margin-bottom: 30px;
    @include antialiased;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 10px 20px;
    }
    input.form-control {
      height: auto;
      background: #F6F6F6;
      border: 1px solid #DEDEDE;
      border-radius:0;
      font-size: 14px;
      @include antialiased;
    }
    textarea.form-control {
      height: 195px;
      background: #F6F6F6;
      border: 1px solid #DEDEDE;
      border-radius:0;
      font-size: 14px;
      @include antialiased;
    }
  }
  .input-group input.form-control{
    border-left:0;
    padding-left: 0;
  }
  .form-control:focus {
    border-color: $theme-primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 400;
    color: $gray-lighter;
    @include heading-font;
    text-transform: capitalize;
  }
  :-moz-placeholder {
    font-weight: 400;
    color: $gray-lighter;
    /* Firefox 18- */
    @include heading-font;
    text-transform: capitalize;
  }
  ::-moz-placeholder {
    font-weight: 400;
    color: $gray-lighter;
    /* Firefox 19+ */
    @include heading-font;
    text-transform: capitalize;
  }
  :-ms-input-placeholder {
    font-weight: 400;
    color: $gray-lighter;
    @include heading-font;
    text-transform: capitalize;
  }
  .text-danger {
    color: $theme-danger;
  }
}
.live-chat-block {
  padding: 15px 0;
  background-color: #3C4557;
}
.live-chat-ques{
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 5px;
}
section#live_chat{
  padding: 0;
}
label.address{
  font-size: 14px;
  color:$gray-lighter;
  margin-bottom: 0px;
}
label.address+p{
  font-size: 16px;
  color: $theme-primary;
  line-height: 1;
}
.map{
  height: 348px;
}
.contact-form-row{
  padding-top: 70px;
}
.left_box{
  left: -50%;
  @include animateSlow;
}
.right_box{
  right: -50%;
  @include animateSlow;
}
#gmap_canvas{
  height: 338px;
  width: 100%;
}
@media(max-width: 500px){
  .left_box{
    margin-bottom: 20px;
  }
}
