// Styling for the footer
footer {
  padding: 80px 0;
  text-align: center;
  background-image: url('../img/footer_bg.jpg');
  background-size: cover;
  span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    @include heading-font;
  }
  ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    @include heading-font;
  }
}

ul.social-buttons {
  margin-bottom: 0;
  text-align: left;
  padding: .75rem 0.8rem;
  li {
    text-align: center;
    a {
      font-size: 20px;
      line-height: 40px;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      color: white;
      border-radius: 100%;
      outline: none;
      &:active,
      &:focus,
      &:hover {
        background-color: $theme-primary;
      }
    }
  }
}
.footer-bottom{
  padding-top: 50px;
  margin-top: 50px;
  border-top:1px solid rgba(255, 255, 255, 0.10)
}
.footer-bottom h3{
  padding-top: 10px;
}
.footer-logo{
  @include raleway-bold-font;
}
.footer-bottom-list{
  a{
    @include montserrat-bold-font;
  }
}