#gallery{
	padding: 0;
}
.images_wrap{
	/*height: 100vh;*/
	.top-section{
		height: 83.4%;
	}
	.flexslider{
		margin: 0;
		border: none;
		background: transparent;
	}
	.image_caption{
		padding: 20px 30px;
		background-color: rgba(248, 244, 240, 0.46);
		position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
	}
	.image_caption_heading{
		width: 15%;
		font-size: 18px;
		color: #232A37;
		letter-spacing: 0.36px;
		padding-top: 9px;
		-webkit-font-smoothing: antialiased;
		@include lato-bold-font;
	}
	.image_desc{
		width: 80%;
		font-size: 14px;
		color: #232A37;
		letter-spacing: 0.36px;
		-webkit-font-smoothing: antialiased;
		@include lato-regular-font;
	}
	.flex-direction-nav{
		display: none;
	}
	.flexslider .slides > li{
		position: relative;
		max-height: 80vh;
	}
	.slider{
		height: 100%;
	}
}
@media(max-width: 820px){
	.images_wrap{
		.image_caption{
			padding: 10px 0;
		}
		.image_caption_heading{
			width: 10%;
		}
		.image_desc{
			width: 80%;
			margin-left: 15px;
		}
	}
}
@media(max-width: 500px){
	.images_wrap{
		.image_caption_heading{
			float: none;
			width: 100%;
			text-align: center;
			padding-top: 0;
		}
		.image_desc{
			float: none;
			width: 100%;
			margin-left: 0px;
			height: 60px;
    	overflow: auto;
    	text-align: center;
		}
	}
}
@media(min-height: 800px){
  .images_wrap{
    /*height: 100vh;*/
  }
}
@media(max-height: 800px){
  .images_wrap{
    /*min-height: 820px;*/
    height: 100%;
  }
}