#room_type{
	padding: 0;
}
.room_type_box{
	text-align: center;
  color:$theme-primary;
  /*background-image: url('../img/room_type/room-type-01.jpg');*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  /*height: 100vh;*/
  /*padding: 160px 20px;*/
  @include background-cover;
  opacity: 0.8;
  .outer_box{
  	/*width: 720px;*/
  	/*min-height: 500px;*/
  	/*padding: 10px;*/
  	/*background-color: rgba(255, 255, 255, 0.70);*/
  	/*margin: 0 auto;*/
  	/*padding: 160px 20px;*/
  }
  h4{
		font-size: 34px;
		color: #232A37;
		letter-spacing: -0.02px;
		font-weight: 200;
		-webkit-font-smoothing: antialiased;
		margin-top: 5px;
    margin-bottom: 25px;
    @include lato-bold-font;
  }
  .price{
		font-size: 30px;
		color: #232A37;
		letter-spacing: 0.48px;
		font-weight: 200;
		-webkit-font-smoothing: antialiased;
		@include sourceSansPro-Bold-font;
  }
  .duration{
		font-size: 12px;
		color: #232A37;
		letter-spacing: 0.4px;
		line-height: 14px;
		font-weight: 200;
		-webkit-font-smoothing: antialiased;
		@include lato-regular-font;
  }
  .desc{
		font-size: 16px;
		color: #232A37;
		letter-spacing: 0;
		line-height: 25px;
		font-weight: 200;
		-webkit-font-smoothing: antialiased;
		padding: 25px 105px;
		@include lato-regular-font;
  }
  .facility{
  	font-size: 12px;
		color: #232A37;
		letter-spacing: 0.4px;
		line-height: 14px;
		font-weight: 200;
		-webkit-font-smoothing: antialiased;
		@include lato-light-font;
  }
  .facilities{
  	margin-top: 20px;
    margin-bottom: 50px;
  }
  .room-types li{
  	vertical-align: top;
	  width: 20%;
	  line-height: 40px;
	  -webkit-transition: all .3s;
	  -moz-transition: all .3s;
	  transition: all .3s;
	  outline: 0;
	  color: #232a37;
  }
  .room-types li .facility{
	  line-height: 40px;
	  display: block;
	  width: 100%;
	  -webkit-transition: all .3s;
	  -moz-transition: all .3s;
	  transition: all .3s;
	  outline: 0;
	}
	.large_room{
		background-image: url('../img/room_type/room-type-01.jpg');
	}
	.large_room, .small_room{
	  background-repeat: no-repeat;
	  background-attachment: scroll;
	  background-position: center center;
	  /*padding: 160px 20px;*/
	  @include background-cover;
	  /*min-height: 820px;*/
	  /*min-height: 100vh;*/
	  -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    /*opacity: 0;*/
    padding-bottom: 150px;
	}
	.small_room{
		background-image: url('../img/header-bg.jpg');
	}
	.inner_box{
		width: 720px;
		margin: 0 auto;
		background-color: rgba(255, 255, 255, 0.70);
		padding-top: 70px;
    position: relative;
    top: 150px;
    /*height: 100%;*/
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 100px;
	}
	.carousel-indicators{
	  bottom: auto;
	  top: 175px;
	  margin-bottom: 0;
	}
	.carousel-inner{
  	/*padding: 40px 25px;*/
	}
	.full_opacity{
		opacity: 1;
	}
	.detail{
		padding: 0 0 40px;
		@include lato-regular-font;
	}
	.btn-in-room-type{
		@include lato-bold-font;
	}
}
@media(max-width:768px) {
	.room_type_box{
		.inner_box{
			width: 500px;
		}
	}
}
@media(max-width:500px) {
	.room_type_box{
		.inner_box{
			width: 300px;
		}
		.desc{
			padding: 0;
		}
		.btn-in-room-type{
			display: block;
			margin: 10px auto;
			float: none !important;
		}
	}
}
@media(min-height: 800px){
  .room_type_box, .room_type_box .large_room, .room_type_box .small_room{
    height: 100vh;
  }
}
@media(max-height: 800px){
  .room_type_box{
    min-height: 800px;
    height: 100%;
  }
  .room_type_box .large_room, .room_type_box .small_room{
    min-height: 800px;
  }
}