#testimonial{
	padding: 0;
}
.testimonial_wrap{
	text-align: center;
  color:$theme-primary;
  background-image: url('../img/testimonials/testimonial-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10%;
  @include background-cover;
  position: relative;
  /*height: 100vh;*/
  .message_baloon_left{
  	position: absolute;
  	left: 0px;
  	top: 150px;
  }
  .message_baloon_right{
  	position: absolute;
  	right: 0px;
  	top: 20px;
  }
  .icons{
  	color: #87A3AF;
  	font-size: 20px;
    font-weight: bold;
  }
  .carousel-control-next, .carousel-control-prev{
  	opacity: 1;
  	width: 50%;
  	z-index: 1;
  	height: 35px;
  }
  .heading{
		font-size: 30px;
		color: #232A37;
		letter-spacing: 0.6px;
		-webkit-font-smoothing: antialiased;
    @include lato-bold-font;
  }
  .comments{
		font-size: 25px;
		color: #232A37;
		letter-spacing: 0.5px;
		margin-top: 50px;
    margin-bottom: 30px;
    -webkit-font-smoothing: antialiased;
    width: 74%;
    margin-left: auto;
    margin-right: auto;
    @include sourceSansPro-Italic-font;
  }
  .guest_name{
		font-size: 25px;
		color: #232A37;
		letter-spacing: 0.5px;
		-webkit-font-smoothing: antialiased;
		margin-bottom: 10px;
    @include sourceSansPro-Regular-font;
  }
}
@media(max-width: 768px){
  .testimonial_wrap{
    .carousel-control-next, .carousel-control-prev{
      width: 15%;
    }
  }
}
@media(max-width: 400px){
  .testimonial_wrap{
    .carousel-control-next, .carousel-control-prev{
      width: 2%;
    }
    .icons{
      font-size: 16px;
    }
    .heading{
      font-size: 22px;
    }
  }
}
@media(min-height: 800px){
  .testimonial_wrap{
    height: 100vh;
  }
}
@media(max-height: 800px){
  .testimonial_wrap{
    min-height: 800px;
    height: 100%;
  }
}